#article-pg {
  position: relative;
  box-sizing: content-box;
  max-height: calc(100vh - var(--header-height) - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#article-pg #pg-content {
  overflow: scroll;
  margin-bottom: 0;
}

#article-pg #pg-content >* {
  margin-bottom: 5rem;
}

#article-pg .article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#article-pg .article-info > :not(:last-child) {
  margin-bottom: 1rem;
}

#article-pg .info-right, #company-pg .info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
