#company-pg {
  position: relative;
  box-sizing: content-box;
}

#company-pg > :not(:last-child) {
  margin-bottom: 5rem;
}

#company-pg .company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#company-pg .info-right, #company-pg .info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#company-pg #chart {
  height: 20rem;
  width: 100%;
  background-color: var(--dark-bg);

}
