.company-list-view {
    width: 100%;
    text-align: left;
    overflow-x: scroll;
}

.company-list-view h1 {
    margin-bottom: 2rem;
}

.company-list-view .list-header, .company-list-view .list-row {
    display: grid;
    grid-template-columns: minmax(6rem, 1.4fr) repeat(4, minmax(6rem, 1fr));
    gap: 1rem;
    padding: 0.2rem;
    min-width: fit-content;
}

.company-list-view .list-section >* >*:last-child {
    text-align: center;
}

.company-list-view p {
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-list-view .list-header {
    background-color: var(--dark-bg);
    color: var(--light-txt);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
} 

.company-list-view .list-row {
    background-color: var(--light-txt);
    color: var(--dark-txt);
    border: 0.01rem solid var(--neutral);
} 

.company-list-view .list-row :hover {
    cursor: pointer;
    /* opacity: 0.5; */
}

.company-list-view .heart >* {
    height: 1rem;
}

.company-list-view .heart :hover {
    opacity: 0.8;
}