#floating-btn {
  /* background-color: var(--light-bg); */
  padding: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  height: 3.5rem;
  background-color: transparent;
  border-radius: var(--radius);
}

#floating-btn .btn {
  background-color: var(--dark-bg);
  color: var(--light-txt);
  border-radius: var(--radius);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--shadow);
  height: 3.5rem;
  /* width: 100%; */

  transition: opacity var(--hover-transition);
}

#floating-btn .btn:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

#floating-btn p {
  margin: auto;
  font-weight: var(--roboto-bold);
}
