header {
  padding-left: 30px;
  padding-right: 30px;
  height: 5rem;
  width: 100%;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  border-bottom: 2px solid var(--light-bg);
}

.header-logo {
  width: 11.125rem;
  height: 2.75rem;
}

.left {
  min-width: var(--sidebar-width);
}

.right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  width: 0rem;
}

.bell-text {
  color: var(--bell);
  font-size: 1rem;
  font-weight: var(--roboto-black);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1.875rem;
}

.profile-icon {
  width: 2.625rem;
  height: 2.625rem;
}
