#nav-btn {
  background-color: var(--dark-bg);
  height: 5rem;
  width: 1.5rem;
  display: flex;
  justify-content: space-around;
}

#nav-btn.right >* {
  transform: rotate(180deg);
}

#nav-btn >* {
  width: 100%;
  margin: auto;
  color: var(--light-txt);

  transition: opacity var(--hover-transition);
}

#nav-btn >*:hover {
  opacity: var(--hover-opacity);
  cursor: pointer;
}