.nav-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--light_txt);
  text-decoration: none;

  transition: opacity var(--hover-transition);
}