#nav-menu {
  width: var(--sidebar-width);
  background-color: var(--dark-bg);
  color: var(--light-txt);
  padding: var(--content-v) var(--content-h);
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

#nav-menu .list-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#nav-menu li {
  list-style: none;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#nav-menu .logout-btn {
  background-color: var(--logout);
  height: 3.5rem;
  width: 100%;
  font-weight: var(--roboto-bold);
  font-size: 1rem;
  
  transition: opacity var(--hover-transition);
}

#nav-menu .logout-btn:hover {
  opacity: var(--hover-opacity);
  cursor: pointer;
}

#nav-menu .header-items, #nav-menu .list-section {
  margin-bottom: 3rem;
}

#nav-menu .header-items {
  display: none;
}

@media (max-width: 50rem) {
  #nav-menu .header-items {
    display: block;
  }

  #nav-menu .header-logo {
    width: 12rem;
    max-width: 100%;;
  }
}