#search-bar {
  width: 24.8rem;
  height: 2.625rem;
  padding: 0;
  border-radius: var(--radius);
  font-size: 1rem;
  background-color: var(--light-txt);
  border: 0.125rem solid var(--light-bg);
  display: flex;
  margin: 0 1rem;
}

#search-bar #search-input {
  height: 100%;
  padding: 0 0.5rem;
  color: var(--neutral);
  background-color: inherit;
  outline: none;
  width: 90%;
  border: none;
}

#search-bar .search-btn {
  margin: auto 0;
  height: 100%;
  width: 10%;
}

#search-bar .search-btn :hover {
  opacity: var(--hover-opacity);
  cursor: pointer;
}
#search-bar .search-btn >* :hover {
  opacity: 1;
}

#search-bar .search-btn >* {
  height: 100%;
  width: 100%;

  transition: opacity var(--hover-transition);
}